[Unit]
Description=%p Podman Container
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
TimeoutStartSec=5m
ExecStartPre=-/usr/bin/podman rm -f %p
ExecStart=/usr/bin/podman run --name %p -h %p  \
	-p 10052:10052 zabbix/zabbix-java-gateway:latest
ExecReload=-/usr/bin/podman stop %p
ExecReload=-/usr/bin/podman rm -f %p
ExecStop=-/usr/bin/podman stop %p

[Install]
WantedBy=multi-user.target
